---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Description from "@/components/Description.astro";
import WorkExperience from "@/components/WorkExperience.astro";
import Skills from "@/components/Skills.astro";

changeLanguage("en");
---

<Layout title="Sanan Abbasov">
  <main class="max-w-[1200px] mx-auto px-10">
    <Hero />
    <Description />
    <WorkExperience />
    <Skills />
    <div class="h-[1200px]"></div>
  </main>
</Layout>
