---
import Layout from "../layouts/Layout.astro";
import { WavyBackground } from "@/components/ui/wavy-background";
import Hero from "@/components/Hero.astro";
---

<Layout title="Sanan Abbasov">
  <main class="max-w-[1200px] m-auto">
    <WavyBackground
      colors={["#09003E", "#366CB9", "#040018", "#18C48F", "#D6D6D6"]}
      waveWidth={20}
      backgroundFill="transparent"
      blur={5}
      speed="slow"
      waveOpacity={0.1}
      client:load
    >
      <Hero />
    </WavyBackground>
    <div class="bg-red-500 w-52 h-52"></div>
  </main>
</Layout>
