---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Description from "@/components/Description.astro";
import WorkExperience from "@/components/WorkExperience.astro";
import Skills from "@/components/Skills.astro";
import Projects from "@/components/Projects.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";

changeLanguage("en");
---

<Layout title="Sanan Abbasov">
  <div id="progress"></div>
  <main class="max-w-[1200px] mx-auto px-10">
    <Hero />
    <Description />
    <WorkExperience />
    <Skills />
    <Projects />
    <Contact />
    <Footer />
  </main>
</Layout>
<style>
  #progress {
    position: fixed;
    top: 0;
    width: 50%;
    background-color: rgb(223, 223, 223);
    height: 0.3em;
    z-index: 10;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
  }

  @keyframes progress-grow {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
</style>
