---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";

changeLanguage("en");
---

<Layout title="Sanan Abbasov">
  <main class="max-w-[1200px] mx-auto px-2">
    <Hero />
    <div class="h-96"></div>
  </main>
</Layout>
