---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { WavyBackground } from "@/components/ui/wavy-background";
---

<Layout title="Welcome to Astro.">
  <main>
    <WavyBackground
      colors={["#38bdf8", "#818cf8", "#c084fc", "#e879f9", "#22d3ee"]}
      waveWidth={50}
      backgroundFill="white"
      blur={2}
      speed="slow"
      waveOpacity={1}
	  client:load
    >
      <h1>Hello world!</h1>
    </WavyBackground>
  </main>
</Layout>
