---
import { t } from "i18next";
---

<section class="mt-40 lg:mt-0">
  <h1>
    {t("home.description_title_left")}<span class="text-blue-light"
      >{t("home.description_title_right")}</span
    >
  </h1>
  <p>{t("home.description_text")}</p>
</section>
