<section class="mt-40 mb-20 flex gap-4">
  <p>©</p>
  <p>
    2024 Sanan Abbasov | <a
      href="https://www.linkedin.com/in/sanan-abbasov-520a94204/">LinkedIn</a
    > | <a href="https://github.com/SenanAbb/">Github</a>
  </p>
</section>
