---

---

<section
  class="w-full flex flex-col md:flex-row gap-10 items-center justify-between"
>
  <img src="/images/avatar.png" alt="Avatar image" />
  <div>
    <h1 class="text-center">
      Hello! I am
      <span class="text-blue-light">Sanan</span>
    </h1>
    <h2><span class="text-blue-light"></span></h2>
  </div>
</section>
