---
import { t } from 'i18next';

import GitHubIcon from '@/icons/GitHubIcon.astro';
import InstagramIcon from '@/icons/InstagramIcon.astro';
import LinkedInIcon from '@/icons/LinkedInIcon.astro';
import MailIcon from '@/icons/MailIcon.astro';
---

<section
  class="lg:h-screen flex flex-col md: pt-20 lg:p-0 lg:flex-row lg:justify-center items-center gap-10"
>
  <img
    class="w-64 h-64 lg:w-96 lg:h-96"
    src="/images/avatar.png"
    alt="Avatar image"
  />
  <div
    class="text-center lg:text-left flex flex-col items-center lg:items-start gap-5 lg:gap-2 lg:pt-10"
  >
    <h1>
      {t('home.hero_title')}
      <span class="text-blue-light">Sanan.</span>
    </h1>
    <h2>
      <span class="text-blue-light">{t('home.hero_subtitle_left')}</span>{
        t('home.hero_subtitle_right')
      }
    </h2>
    <p>
      {t('home.hero_text_left')}<span class="text-blue-light"
        >{t('home.hero_text_center')}</span
      >{t('home.hero_text_right')}
    </p>
    <div class="flex flex-row items-center gap-2 mt-2">
      <a
        href="https://github.com/SenanAbb/"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer group text-gray-400"><GitHubIcon /></a
      >
      <a
        href="https://www.instagram.com/lretroo/"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer group text-gray-400"><InstagramIcon /></a
      >
      <a
        href="https://www.linkedin.com/in/sanan-abbasov-520a94204/"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer group text-gray-400"><LinkedInIcon /></a
      >
      <a
        href="mailto:senan996@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer group text-gray-400"><MailIcon /></a
      >
    </div>
  </div>
</section>
<style>
  @media (min-width: 640px) {
    h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.3rem solid #366cb9; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      animation:
        typing 1.5s steps(18, end),
        blink-caret 0.5s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      50% {
        border-color: transparent;
      }
    }
  }
</style>
