---
import "@/styles/globals.css";
interface Props {
  title: string;
}

import i18next from "i18next";
import Navbar from "@/components/Navbar.astro";
import { BackgroundBeams } from "@/components/ui/background-beams";
import ScrollButton from "@/components/ScrollButton";

const { title } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My personal portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Preahvihear&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-b from-blue to-blue-dark">
    <Navbar />
    <slot />
    <BackgroundBeams className="-z-10" />
    <ScrollButton client:load/>
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Preahvihear", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  ,
  p {
    font-size: 20px;
  }
  a {
    font-size: 16px;
    cursor: pointer;
  }
  a:hover {
    transition: all ease-in-out 100ms;
    color: #366cb9;
  }
  h1,
  h2,
  p,
  a {
    color: #fafafa;
  }
  label {
    margin-bottom: 8px;
  }
  input,
  textarea {
    background-color: #020e1fc7;
    border-radius: 4px;
    padding: 16px;
    font-size: 14px;
    color: white;
  }
  input:focus,
  textarea:focus {
    outline: none;
  }
  textarea {
    height: 160px;
    resize: none;
  }
</style>
